body{
    margin: 0;
    padding: 0;
    background: #FCF9E9;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hebrew{
    text-align: right;
    direction: rtl;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.loading{
    margin-top: 105px;
}

.newsletter{
    position: relative;
}

input.field{
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    padding-right: 50px;
    transition: .15s ease;
    box-sizing: border-box;
    transition-property: all;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #ccc;
}

input.field.not-round{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

input.field:focus{
    border-bottom: 2px solid #000;
}

form.newsletter button{
    top: 15px;
    right: 16px;
    position: absolute;
}

form .name_and_id{
    position: relative;
}

.english form .name_and_id button{
    position: absolute;
    right: 0;
    top: 47px;
}

.hebrew form .name_and_id button{
    position: absolute;
    left: 10px;
    top: 47px;
}

p{font-size: 20px;line-height: 28px;}

.auto{margin: auto;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.pb-1{padding-bottom:13px;}

.pt-1{padding-top:13px;}
.pt-2{padding-top:26px;}
.pt-3{padding-top:39px;}

.mr-1{margin-right: 13px;}
.mr-2{margin-right: 26px;}

.ml-1{margin-left: 13px;}
.ml-2{margin-left: 26px;}

.mb-1{margin-bottom: 13px;}
.mb-2{margin-bottom: 26px;}
.mb-3{margin-bottom: 39px;}

.mt-1{margin-top: 13px;}
.mt-2{margin-top: 26px;}
.mt-3{margin-top: 39px;}
.mt-4{margin-top: 52px;}
.mt-5{margin-top: 65px;}
.mt-6{margin-top: 78px;}
.mt-7{margin-top: 91px;}
.mt-8{margin-top: 104px;}

.hero{max-width: 700px;min-height: 200px;}
.hero h1{font-size: 42px;}
.hero h2{font-weight: normal;font-size: 20px;line-height: 30px;}

.header{height: 70px; line-height: 70px;}
.header .menuItems {text-align: right;}
.header .menuItems a{margin-left: 13px;color:black;}
.hebrew .header .menuItems {text-align: left;}

.arrow-right{
    width: 0; 
    height: 0;
    top: 13px;
    right: 12px;
    position: absolute;
    border-left: 8px solid black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.arrow-left{
    width: 0; 
    height: 0;
    top: 13px;
    left: 12px;
    position: absolute;
    border-right: 8px solid black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.mission {margin-top: 100px !important;}
.mission h3{font-size:32px;}
.mission img{max-width: 800px;width:100%;margin-top: 100px !important;}

@media only screen and (max-width: 600px) {
    .hero h1{font-size: 28px;}
    .header img{width: 170px;}
    .mission h3{font-size:28px;}
    .hero{min-height: auto;}
    form.newsletter input{font-size: 18px;}
    form.newsletter button{
        width: auto;
        top: 10px;
        right: 10px;
    }
}

.footer{
    color:#ffffff;
    min-height: 100px;
    position: relative;
    background: #121212;
}

.footer .floor{
    top: -5px;
    height: 5px;
    width: 100%;
    position: absolute;
    background: #121212;
}

.footer .language-links a{
    color: white;
}

.footer .language-links{
    line-height: 80px;
    text-align: right;
}

.hebrew .footer .language-links{
    text-align: left;
}